@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
body {
  font-family: "karla", sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
}

#container {
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}
#section1 {
  padding: 45px;
}
#section1 h1 {
  color: hsl(179, 62%, 43%);
}
#section1 h2 {
  color: hsl(71, 73%, 54%);
  font-weight: 400;
}
#section1 p {
  color: hsl(218, 22%, 67%);
}
.section2 {
  color: white;
  display: flex;
}
.section2 .left {
  padding: 45px;
  flex: 1;
  background-color: hsl(179, 62%, 43%);
}

.section2 .right {
  padding: 40px;
  flex: 1;
  background-color: hsl(179, 62%, 46%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2 h3 {
  margin-top: 0;
  font-weight: 400;
}
.section2 p {
  color: hsl(204, 43%, 93%);
}
.section2 button {
  background-color: hsl(71, 73%, 54%);
  width: 100%;
  padding: 18px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: hsl(204, 43%, 93%);
  margin-top: 20px;
  box-shadow: 0 4px 10px 8px rgba(0, 0, 0, 0.05);
}
.section2 p span {
  font-weight: 700;
  font-size: xx-large;
  color: white;
  margin-right: 10px;
  vertical-align: middle;
}
@media only screen and (max-width: 375px) {
  #section1 {
    padding: 20px;
  }
  #section1 h1 {
    font-size: 1.5em;
  }
  #section1 p {
    font-size: 14px;
    line-height: 24px;
  }
  #section1 h2 {
    font-size: 1em;
  }
  .section2 {
    flex-direction: column;
  }
  .section2 .left,
  .section2 .right {
    padding: 20px;
  }
  body {
    padding: 70px 20px;
  }
}
